/*
color palette: 
  blue = #4CA2CC
  green = #67B271

  cool neon effect https://www.youtube.com/watch?v=6xNcXwC6ikQ
*/
:root{
  --clr-neon: hsl(#67B271, 100%, 54%)
}

head{
  text-align: center;

}

h1{
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;

}


.global{
  background: rgb(103,178,113);
  background: linear-gradient(180deg, rgba(103,178,113,1) 35%, rgba(76,162,204,1) 100%);
 color:#eee;
 width: fit-content;
 
}
.label{
  text-align:right
}

.button-style{
  border:#eee 0.25em solid;
  border-radius: 0em;
  background-color: transparent;
  color: #eee;
  cursor: pointer;
  width: 100%;
  font-size: 0.865rem;
  font-weight: 400;
}


.subheading{
  font-size: 0.865rem;
  font-weight: bold;
}

.grid-container{
  display: grid;
  grid-template-rows:auto auto auto;
  grid-template-columns: 12rem 4.5rem;
  gap: 5px;
  
  
}

.grid-element-time-input{
  text-align: right;
  background-color:transparent;
  grid-row:1/2;
  grid-column:1/2;
}

.grid-element-br-freq{
  text-align: right;
  background-color:transparent;

  grid-row:2/3;
  grid-column:1/2;
}

.grid-element-rest-time{
  text-align: right;
  background-color:transparent;
  grid-row:3/4;
  grid-column:1/2;

}

.grid-element-time-display{
  grid-row:1/2;
  grid-column: 2/3;
  background-color: transparent;
  align-self: center;
}

.input{

  border: transparent;
  width: 3em;
  border-radius: 0.55em;
  margin:0.55em;

}
.ge-start-button{
  grid-row: 2/3;
  grid-column:2/3;
  align-self: center;
}

.ge-about-button{
  grid-row: 3/4;
  grid-column:2/3;
  align-self: center;

}
.content {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #ffffff;
}